# OS files
.DS_Store
desktop.ini
Thumbs.db

# Data files
*.csv
# Ignore all text files except requirements.txt
*.txt
!requirements.txt
data/

# Python caches & virtual envs
__pycache__/
*.pyc
.venv/
venv/

# IDE settings & Secrets
.vscode/
.idea/
.env

venv/